<!-- <input [(ngModel)]="message">
        <h2>{{ message }}</h2> -->
<div class="wrapper">
    <h2>Hospital Registration</h2>
    <section class="form">
       
      <div class="input-box">
        <input type="text"  [(ngModel)]="hospital.name" placeholder="Hospital Name" required>
        <input type="text"  [(ngModel)]="hospital.address" placeholder="Address" required>
      </div>
      <div class="input-box">
        <input type="text" [(ngModel)]="hospital.city" placeholder="City" required>
        <input type="text" [(ngModel)]="hospital.contactNo" placeholder="Contact Number" required>
      </div>
      <div class="input-box">
        <input type="email" [(ngModel)]="hospital.email" placeholder="Email" required>
        <input type="text" [(ngModel)]="hospital.username" placeholder="Username" required>
      </div>
      <div class="input-box">
        <input type="password" [(ngModel)]="hospital.password" placeholder="Password" required>
      </div>
      
      <div class="input-box button">
        <button type="button"  (click)="onRegister()">Register Now</button>
      </div>
      <div class="text">
        <h3>Already have an account? <a href="/login">Login now</a></h3>
      </div>
    </section>
  </div>
  
