

<div class="card mb-4">
    <div class="container">
        <div class="navbar navbar-light bg-light ">
            <a class="navbar-brand"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Doctor's Appointments</a>
            <div class="form-inline custom-form">
                <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
                
                <div class="form-control mr-sm-2">
                    <select class="form-select" [(ngModel)]="SelectedProfession" >
                        <option value="" >Select spécialité</option>
                        <option *ngFor="let profession of professions"  >{{ profession }}</option>
                    </select>
                </div>
            
                <div class="form-control mr-sm-2">
                    <select class="form-select" [(ngModel)]="SelectedCity" >
                        <option value="" >Selected city</option>
                        <option *ngFor="let city of cities"  >{{ city }}</option>
                    </select>
                </div>
                <button class="btn btn-outline-success my-2 my-sm-0" (click)="Search()" type="submit"><i class="fas fa-search" ></i></button>
                
            </div>
        </div>
    </div>
   
    
    <hr class="hr" />

    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Doctor</th>
                    <th>Adress</th>
                    <th>contact</th>
                    <th>Profession</th>
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let doctor of doctors">
                    <td><a [routerLink]="['/profile']" (click)="navigateProfile(doctor.id)">{{ doctor.name }}</a></td>
                    <td>{{ doctor.email }}</td>
                    <td>{{ doctor.contactNo }}</td>
                    <td>{{ doctor.profession }}</td>
                    <td>{{ doctor.city }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

  