<div class="container">
    
    <div class="card mb-4">
      <hr class="hr" />
          <div class="card-header" id="">
              <i class="fa fa-shopping-cart" aria-hidden="true" ></i>
              Doctor's Appointments
              
              <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0" style="float:right">
                  <div class="input-group">
                  <input type="search" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."  class="form-control">
                      <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </div>
              </form>
              
          </div> 
          <hr class="hr" />
  
          <div class="container">
            <table class="table table-bordered"  id="myTable">
              <thead>
                  <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Patient</th>
                    <th>Reserved</th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let appointment of appointments">
                    <td>{{ formatDate(appointment.date) }}</td>
                    <td>{{ appointment.time }}</td>
                    <td>{{ appointment.patientid.name }}</td>
                    <td>{{ appointment.taken }}</td>
                  </tr>
              </tbody>
            </table>
        </div>
  
    </div>
    </div>
