.reserved {
    background-color: red;
    opacity: 0.5; /* Make the background semi-transparent */
    pointer-events: none; /* Disable pointer events */
    cursor: not-allowed; /* Change cursor to indicate unclickable */
    color: aliceblue;
  }

  /* my-modal.component.css */
/* .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.modal-body {
  padding: 20px 0;
}

.modal-footer {
  text-align: right;
} */
